<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>track request</title>


    <!-- UniIcon CDN Link  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/table.css">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @font-face {
            font-family: pop;
            src: url(./Fonts/Poppins-Medium.ttf);
        }

        .main {
            width: 100%;
            margin-top: 300px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            flex-direction: column;
            /* border: 2px solid #00F1FF; */


        }

        .head {
            text-align: center;
        }

        .head_1 {
            font-size: 30px;
            font-weight: 600;
            color: #333;
        }

        .head_1 span {
            color: #ff4732;

        }

        .head_2 {
            font-size: 16px;
            font-weight: 600;
            color: #333;
            margin-top: 3px;
        }

        ul {
            display: flex;
            margin-top: 80px;
        }

        ul li {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ul li .icon {
            font-size: 55px;
            /* color: #ff4732; */
            background: linear-gradient(to right, #ff0057, #ffde49);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            margin: 0 60px;
        }

        ul li .text {
            font-size: 20px;
            font-weight: 600;
            /* color: #ff4732; */
        }

        /* Progress Div Css  */

        ul li .progress {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgba(68, 68, 68, 0.781);
            margin: 14px 0;
            display: grid;
            place-items: center;
            color: #fff;
            position: relative;
            cursor: pointer;
        }

        .progress::after {
            content: " ";
            position: absolute;
            width: 150px;
            height: 10px;
            background-color: rgba(68, 68, 68, 0.781);
            right: 30px;

            z-index: -1;

            transition: 0.5s;
            
        }

        .one::after {
            width: 0;
            height: 0;
        }

        ul li .progress .uil {
            display: none;
        }

        ul li .progress p {
            font-size: 13px;
        }

        /* Active Css  */

        ul li .active {
            background-color: #ff4732;
            display: grid;
            place-items: center;
            
        }

        li .active::after {
            /* background-color: #3284ff; */
            background: linear-gradient(to right, #00F1FF, #3E7CEE);
            /* background:linear-gradient(#616161 0% , #333, #222); */
            /* animation: animate 4s ease-in-out forwards; */
        }

        /* @keyframes animate
        {
            to
            {
                width:0px;
            }
        } */

        ul li .active p {
            display: none;
        }

        ul li .active .uil {
            font-size: 20px;
            display: flex;
        }

        /* Responsive Css  */

        @media (max-width: 980px) {
            ul {
                flex-direction: column;
            }

            ul li {
                flex-direction: row;
            }

            ul li .progress {
                margin: 0 30px;
            }

            .progress::after {
                width: 5px;
                height: 63px;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }

            .one::after {
                height: 0;
            }

            ul li .icon {
                margin: 15px 0;
            }
        }

        @media (max-width:600px) {
            .head .head_1 {
                font-size: 24px;
            }

            .head .head_2 {
                font-size: 16px;
            }
        }



        .table
        {
            margin-top: -284px;
        }
        /* .h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    

    margin-top: 50px;
    margin-bottom:50px;

} */


.head h1 {
    font-size: 77px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 46px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


}
    </style>
</head>

<body>
    <div class="head h1"><h1 >Request Details</h1></div>

    

    <table class="table">
        <thead>
          <tr id="header">
    
            <th scope="col">Requestor Name</th>
            <th scope="col">State</th>
            <th id="bgdata" scope="col">City </th>
            <th id="bgdata" scope="col">Blood Group</th>
            <th id="bgdata" scope="col">Mobile No. </th>
            <th id="bgdata" scope="col">Request Status</th>
            <th id="bgdata" scope="col">Accepted By</th>
            <th id="bgdata" scope="col">Tentative Date</th>
            <th id="bgdata" scope="col">Tentative Time </th>
            <th id="bgdata" scope="col">Blood Bank </th>
            <th id="bgdata" scope="col">Donation Status </th>
          </tr>
        </thead>
        <tbody>
            <%requestlist.forEach(requestdata=>{%>
            <tr>
              <td id="bbname">
                <%=requestdata.rname %>
              </td>
              <td>
                <%=requestdata.rstate %>
              </td>
              <td>
                <%=requestdata.rcity %>
              </td>
              <td>
                <%=requestdata.rbg %>
              </td>
              <td>
                <%=requestdata.rnumber %>
              </td>
              <td>
                <%=requestdata.raccstatus %>
              </td>
              <td>
                <%=requestdata.raccby %>
              </td>
              <td>
                <%=requestdata.rappoinmentdate %>
              </td>
              <td>
                <%=requestdata.rappoinmentbloodbank %>
              </td>
              <td>
                <%=requestdata.rdonationstatus %>
              </td>
    
            </tr>
            <%})%>
        </tbody>



    <!-- <%requestlist.forEach(requestdata=>{%>
        <%=requestdata.rname %>
        <%=requestdata.rstate %>
        <%=requestdata.rcity %>
        <%=requestdata.rbg %>               
        <%=requestdata.rnumber %>
        <%=requestdata.raccstatus %>
        <%=requestdata.raccby %>
        <%=requestdata.rappoinmentdate %>
        <%=requestdata.rappoinmentbloodbank %>
        <%=requestdata.rdonationstatus %>
        <%})%> -->



<!-- ########################################################################################## -->


    <div class="main">

        <!-- <div class="head">
            <p class="head_1">Animated Step <span>Progress Bar</span></p>
            <p class="head_2">Using Html, Css & JavaScript</p>
        </div> -->

        <ul>
            <li>
                <i class="icon uil uil-capture"></i>
                <div class="progress one">
                    <p>1</p>
                    <i class="uil uil-check"></i>
                </div>
                <p class="text">Request Sent</p>
            </li>
            <li>
                <i class="icon uil uil-clipboard-notes"></i>
                <div class="progress two">
                    <p>2</p>
                    <i class="uil uil-check"></i>
                </div>
                <p class="text">SMS Sent</p>
            </li>
            
            <li>
                <i class="icon uil uil-credit-card"></i>
                <div class="progress three">
                    <p>3</p>
                    <i class="uil uil-check"></i>
                </div>
                <p class="text">Request Accepted</p>
            </li>
            <li>
                <i class="icon uil uil-exchange"></i>
                <div class="progress four">
                    <p>4</p>
                    <i class="uil uil-check"></i>
                </div>
                <p class="text">Blood Donated</p>
            </li>
            <li>
                <i class="icon uil uil-map-marker"></i>
                <div class="progress five">
                    <p>5</p>
                    <i class="uil uil-check"></i>
                </div>
                <p class="text">Blood Collected</p>
            </li>
        </ul>

    </div>

    <script>
        const one = document.querySelector(".one");
        const two = document.querySelector(".two");
        const three = document.querySelector(".three");
        const four = document.querySelector(".four");
        const five = document.querySelector(".five");

            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.remove("active");
            five.classList.remove("active");

        one.onclick = function () {
            one.classList.add("active");
            two.classList.remove("active");
            three.classList.remove("active");
            four.classList.remove("active");
            five.classList.remove("active");
        }

        two.onclick = function () {
            one.classList.add("active");
            two.classList.add("active");
            three.classList.remove("active");
            four.classList.remove("active");
            five.classList.remove("active");
        }
        three.onclick = function () {
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.remove("active");
            five.classList.remove("active");
        }
        four.onclick = function () {
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.add("active");
            five.classList.remove("active");
        }
        five.onclick = function () {
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.add("active");
            five.classList.add("active");
        }

    </script>
</body>

</html>