<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/table.css">
    <style>
        #btn3{
            background-color: greenyellow;
            color: black;
            font-size:1rem ;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <table class="table">
        <thead>
          <tr id="header">
    
            <th scope="col">Name</th>
            <th scope="col">state</th>
            <th id="bgdata" scope="col">city</th>
            <th id="bgdata" scope="col">rbg </th>
            <th id="bgdata" scope="col">number </th>
            <th id="bgdata" scope="col">accstatus </th>
            <th id="bgdata" scope="col">accby</th>
            <th id="bgdata" scope="col">appoinmentdate</th>
            <th id="bgdata" scope="col">time</th>
            <th id="bgdata" scope="col">bloodbankid</th>
            <th id="bgdata" scope="col">bloodbank</th>
            <th id="bgdata" scope="col">donationstatus</th>
            <th id="bgdata" scope="col">donationstatus</th>
        </tr>
    </thead>
    <tbody>  
        <%requestlist.forEach(requestdata=>{%>
            <tr>
                
       <td> <%=requestdata.rname %></td>
       <td> <%=requestdata.rstate %></td>
       <td> <%=requestdata.rcity %></td> 
      <td> <%=requestdata.rbg %>    </td>            
       <td> <%=requestdata.rnumber %></td>
       <td> <%=requestdata.raccstatus %></td>
       <td> <%=requestdata.raccby %></td>
       <td> <%=requestdata.rappoinmentdate %></td>
       <td> <%=requestdata.rappoinmenttime %></td>
       <td> <%=requestdata.bid %></td>
       <td> <%=requestdata.rappoinmentbloodbank %></td>
       <td> <%=requestdata.rdonationstatus %></td>

       <td><input type="button" 
        value="Done" 
        onclick="submit()" /></td>
        <!-- <td><div class="btn">
            <button id="btn3" value="submit">Completed</button>
        </div></td> -->
      <!-- //we have to add send request id by clicking submit button   -->
    </tr>
        <%})%>
    </tbody>
</table>
        
<script>

// ---------------------------changes needed----------------------------
function submit() {
                var rowId = 
                    event.target.parentNode.parentNode.id;
              //this gives id of tr whose button was clicked
                var data = 
                    document.getElementById(rowId).querySelectorAll(); 
              /*returns array of all elements with 
              "row-data" class within the row with given id*/
  
                var name = data[0].innerHTML;
                var age = data[1].innerHTML;
  
                alert("Name: " + name + "\nAge: " + age);
            }
</script>
</body>
</html>